@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Baloo+2:wght@400..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  --prefersdark: true;

  --color-primary: #007bff;
  --color-footer: #343a40;
  --color-accent: #28a745;
  --color-error: #dc3545;
  --color-base-100: #ffffff;
  --color-base-200: #f8f9fa;
  --color-base-400: #ffffff;
  --color-base-content: #212529;
  --color-base-300: #f2f2f2;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-primary: #0d6efd;
  --color-footer: #212529;
  --color-accent: #198754;
  --color-error: #ff6b6b;
  --color-base-100: #1e1e1e;
  --color-base-200: #0a0a0a;
  --color-base-content: #ffffff;
  --color-base-300: #343434;
  --color-base-400: #8c8c8c;
}

body {
  font-family: "Inter", sans-serif;
}

.active {
  @apply text-primary border-b pb-1;
}

.switchColor {
  @apply bg-base-200 text-base-content;
}
