/* ! google font name: inter  */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*!  google font name: poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* ! Primary: Energetic Yellow-Orange (Speed & Urgency)  */
  --color-primary: #f59e0b; /* Main CTA, Buttons */
  --color-primary-focus: #d97706;

  /*! Secondary: Soft Peach (Background, Cards) */
  --color-secondary: #fff8f1; /*? Light warm background */
  --color-secondary-focus: #fde68a;

  /*! Accent: Red for "Live", "Urgent", "Track Now" */
  --color-accent: #ef4444;
  --color-accent-focus: #dc2626;

  /*! Success: Delivery Complete */
  --color-success: #10b981;
  --color-success-focus: #059669;

  /*! Text & Dark Elements */
  --color-neutral: #1f2937; /*? Dark Text, Icons */
  --color-neutral-focus: #111827;

  /*! Backgrounds */
  --color-base-100: #ffffff; /* Card, Modal */
  --color-base-200: #f9fafb; /* Hover */
  --color-base-300: #f3f4f6; /* Border */

  /* !Info (Rider Online, Map Pin) */
  --color-info: #3b82f6;
}

body {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}
